@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/*laddu*/
/* src/index.css */

/* Add this at the bottom of your index.css */
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}